body {
      background-color:lightblue;
      font-family:'Times New Roman', Times, serif;
      text-align: center;
    }

    h1 {
      text-align: center;
      margin-top: 35px;
      font-weight: bold;
      color: orange;
      text-shadow: 1px 1px 1px 1px 1px black;
    }

    div {
      font-weight: bold;
      margin: 10px;
      font-size: 18px;
      padding: 5px;
      border: 1px solid black;
      border-radius: 10px;
      background-color: whitesmoke;
    }